@{
    ViewBag.Title = "Домашняя страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Это стартовая страница моего приложения</h3>
<ol class="round">
    <li class="one">
        <h5>Это первая версия моего приложения</h5>
        Осталось совсем немного того, что нужно доделать)
    </li>

</ol>
